# --------------------
# OS or Editor folders
# --------------------
.DS_Store
._*
.cache
.idea
.project
.settings
.tmproj
nbproject
*.sublime-project
*.sublime-workspace
Thumbs.db


# ---
# APP
# ---
.coverage
*.pyc
*.pyo
*.sass-cache


# -----------
# CONFIG VARS
# -----------
config.json
