{% extends 'rest_framework_swagger/base.html' %}

{% block title %}OpenZarautz API{% endblock %}

{% block header %}
    <div class="custom-wrap">
        <a href="https://twitter.com/zarautzirekia" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
        <a href="https://github.com/zarautz/pagoeta" target="_blank"><i class="fa fa-github fa-2x"></i></a>
        <img src="https://avatars1.githubusercontent.com/u/7878380?v=3&s=64">
    </div>
{% endblock %}

{% block django_rest_swagger %}{% endblock %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <style>
        div.custom-wrap {
            margin-top: 30px;
            max-width: 960px;
            margin-left: auto;
            margin-right: auto;
        }
        div.custom-wrap a {
            float: right;
            margin-left: 20px;
            color: #bbb;
        }
        div.custom-wrap a:hover {
            color: #0f6ab4;
        }
    </style>
{% endblock %}
